:root {
  --primary-color: #4057a1;
  --background-color: #f4f1ec;
  --secondary-color: #c28b00;
  --tweet-border: darkgrey;
  --tweet-shadow: lightgrey;
  --body-color: #545149;
  --tweet-backG: antiquewhite;
}

.dark-theme {
  --primary-color: #7A0BC0;
  --background-color: #121212;
  --secondary-color: #1A1A40;
  --tweet-border: #6d6d6d;
  --tweet-shadow: #313131;
  --body-color: #c5c5c5;
  --tweet-backG: #222222;
}