@import './color-themes.css';

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;  
    align-items: flex-start;
    justify-content: space-evenly;
  }
  
  .page-header {
    min-width: 20vw;
    max-width: 30vw;
    margin-top: 30vh;
    margin-left: 5vw;
    padding-right: 2vw;
    padding-left: 2vw;
  }

  nav {
    background-color: var(--primary-color);
    padding-left: 5vw;
    padding-right: 5vw;
  }

  main {
    margin-left: 3vw;
    margin-right: 3vw;
    max-width: 70vw;
    min-width: 30vw;
    margin-top: 7.5vh;
    min-height: 40vh; 
    max-height: 90vh;
    overflow-y: auto;
    flex-grow: 2;
  }
  
}