

.sticky-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.scroll-up-button {
  background-color: var(--primary-color);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2em;
  box-shadow: -10px 10px 15px -10px rgba(0,0,0,0.80);
}

footer .fa-angles-up {
  color: white;
  font-size: xx-large;
}

