.page-header {
  height: 400px;
  width: 100%;
  color: white;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c28b00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.page-header .name-under-pic {
  font-size: xx-large;
}
