nav {
  height: 100px;
  background-color: #4057a100;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  top: 0;
  width: 100%;
  position: fixed;
  top: 0;
}

.logoText {
  font-family: 'Bungee', cursive;
  font-size: xx-large;
}

.newTweetPrompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newTweetPrompt .fa-angles-down {
  font-size: xx-large;
}

/* the following animation was found @ https://codepen.io/nelledejones/pen/gOOPWrK */

@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

.newTweetPrompt .fa-angles-down:hover {
  animation: hithere 1s ease infinite;
  color: red;
}

