.new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#tweet-text {
  border-style: none;
  border-color: transparent;
  border-bottom: 0.25em solid darkgrey;
  background-color: #f4f1ec;
  width: 100%;
  resize: none;
  outline: none;
}

.tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0.3em;
}

.button-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', cursive;
  padding-top: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

#neg-count {
  color: red;
}

.sub-header {
  font-family: 'Bungee', cursive;
  margin-bottom: 0.4em;
}
