@import './color-themes.css';


.new-tweet {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#tweet-text {
  border-style: none;
  border-color: transparent;
  border-bottom: 0.25em solid darkgrey;
  background-color: var(--background-color);
  width: 100%;
  resize: none;
  outline: none;
}

.tweet-button {
  background-color: var(--primary-color);
  color: #FFFFFF;
  padding: 0.3em;
}

.button-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', cursive;
  padding-top: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

#neg-count {
  color: red;
}

.sub-header {
  font-family: 'Bungee', cursive;
  margin-bottom: 0.4em;
}


.new-tweet #error-msg {
  border: 5px;
  border-style: solid;
  border-color: red;
  padding: 0.7em;
  padding-left: 2em;
  color: red;
}

.hidden {
  display: none;
}
